@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #569117;
}

/* headings and logo */

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    letter-spacing: 6px;
    color: #024500;
}


#logo {
    float: left;
    margin-left: 30px;
    position: relative;
    left: -45px;
}  


/* navigations links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu, #logo {
    line-height: 120px;
}
    


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1.8px solid #10420E;
}

.active {
    border-bottom: 1.8px solid #10420E;
}

/* hero image */

#cover-text, #cover-text h3 {
    color: #fff;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
    top: -40px;
}

#cover-text {
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 4px;

    width: 600px;
    height: 200px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(9, 105, 46, 0.7);

    bottom: 80px;
    right: 240px;

    position: absolute;
}