@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #569117;
}

/* headings and logo */

h2 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    color: #024500;
}


#logo {
    float: left;
}  


/* navigations links */

#menu {
    font-size: 120%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#menu, #logo {
    line-height: 120px;
}
    
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1.8px solid #10420E;
}

.active {
    border-bottom: 1.8px solid #10420E;
}

/* hero image */

#cover-text, #cover-text h3 {
    color: #fff;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    overflow: hidden;
    position: relative;
    top: -40px;
}

#cover-text {
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 5px;

    width: 600px;
    height: 200px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(9, 105, 46, 0.7);

    bottom: 80px;
    right: 240px;

    position: absolute;
}

/* bio */

#bio {
    height: 700px;
}

#left-bio, #right-bio {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.meet {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
    text-transform: uppercase;
}

hr {
    border: 1px solid #569117;
    width: 25%;
    margin: 0 auto;
}

#left-bio {
    padding-top: 150px;
    padding-right: 10em;
    width: 40%;
    float: right;
}

#right-bio{
    padding-top: 100px;
    padding-right: 250px;
    height: 100%;
    width: 25%;
    float: right;
}



.left-bio-text {
    line-height: 30px;
    letter-spacing: 5px;
    padding-right: 100px;
    width: 120%;
    text-align: left;

}

.alexandra {
    height: 50%;
    border-radius: 50%;
}

/* meet-up */

#meet-up {
    position: relative;
    text-align: center;
    color: white;
    font-size: 100%;
}

#meet-up img {
    width: 300px;
    border-radius: 50%;
    position: relative;
    margin-top: 150px;
    margin-left: 200px;
    right: 100px;
    overflow: hidden;
}

#meet-up-times h2 {
    color: white;
}

#meet-up-reconnect {
    position: absolute;
    top: 50%;
    left: 320px;
    width: 200px;
    line-height: 20px;
    float: left;
    line-height: 40px;
    border-radius: 50%;
}

#meet-up-climate {
    position: absolute;
    top: 50%;
    right: 45%;
    width: 200px;
    line-height: 20px;
    float: left;
    line-height: 40px;
    border-radius: 50%;
}

#meet-up-forest {
    position: absolute;
    top: 53%;
    right: 320px;
    width: 200px;
    line-height: 20px;
    float: left;
    line-height: 40px;
    border-radius: 50%;
}

/* footer */

footer {
    margin-top: 100px;
    font-size: 20px;
    color: #024500;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

footer h4 {
    font-size: 30px;
    color: #024500;
    padding-bottom: 15px;
    padding-top: 30px;
}

footer p {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.contact {
    position: relative;
    padding-top: 150px;
    padding-right: 100px;
    width: 100%;
}

.social-links {
    position: relative;
    padding-right: 100px;
    width: 100%;
}
.social-links > li {
    display: inline;
    list-style: none;
}

.social-links i {
    margin: 2%;
    color: #024500;
    font-size: 180%;
}