@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #10420E;
}

/* headings and logo */

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;
    letter-spacing: 6px;
    color: #024500;
}

#logo {
    float: left;
    font-size: 320%;
}

/* navigations links */

#menu {
    font-size: 120%;
    letter-spacing: 6px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1.8px solid #10420E;
}

.active {
    border-bottom: 1.8px solid #10420E;
}